.notification {
  position: absolute;
  top: 0;
  height: 40vh;
  top: 20vh;
  left: 50vh;
  
}

.list__columns {
  flex-wrap: wrap;
}
.login {
  &__alert {
    color: white;
  }
  &__message {
    color: white;
  }
}
.align {
  display: felx;
  flex-direction: column;
}

.myPage__img {
  width:3rem;
}
.main__img {
  width: 5rem;
}
.detail .level-left {
  display: flex;
  flex-direction: column;
}
.myPage__box {
  width: 50%;
}
.bag__img {

  width: 4rem;
}


.member {
    &__login, &__join {
      .authed & {
        display: none;
      }
    }
   &__logout, &__myPage {
     display: none;
     .authed & {
       display: inline-block;
     }
   }
   &__admin {
     display: none;
     .admin & {
       display: inline-block;
     }
   }
}

.image.is-1by1, .image.is-square {
  padding-top: 0
}
