.notification {
  position: absolute;
  top: 0;
  height: 40vh;
  top: 20vh;
  left: 50vh;
  
}

.list__columns {
  flex-wrap: wrap;
}
.login {
  &__alert {
    color: white;
  }
  &__message {
    color: white;
  }
}